body {
margin: 0;
height: 100%;
overflow: hidden;
}

#myVideo {
position: absolute;
right: -50px;
top: 0;
min-width: 100%;
min-height: 100%;
width: auto;
height: auto;
}

.content {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
text-align:
center;
color: white;
z-index: 1; }

.bigText {
	font-family: Montserrat, sans-serif;
	font-weight: bold;
	font-size: 100px;
}

.smallText {
	font-family: Montserrat, sans-serif;
	font-size: 30px;
}