/*BASE STYLES*/
body {
margin: 0;
height: 100%;
overflow: hidden;
}
/*MOBILE*/
@media only screen and (max-width: 600px) {
#myVideo {
position: relative;
right: 50%;
top: 200px;
min-width: 20%;
min-height: 20%;
width: 200%;
height: auto;
margin: auto 0 auto 0;
}
}

/*TABLET*/
@media only screen and (min-width: 768px) {...}
/*SCREEN*/
@media only screen and (min-width: 992px) {...}
/*LARGE*/
@media only screen and (min-width: 1200px) {
#myVideo {
position: absolute;
right: -100px;
top: 0;
min-width: 100%;
min-height: 100%;
width: auto;
height: auto;
}
.content {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
text-align:center;
color: white;
z-index: 1; }
.bigText {
font-family: Montserrat, sans-serif;
font-weight: bold;
font-size: 100px;
}
.smallText {
font-family: Montserrat, sans-serif;
font-size: 30px;
}
}